<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ExceptionAsE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
      {% if not article_type_id %}
          <a class="nav-link active" href="/">All</a>
      {% else %}
        <a class="nav-link" href="/">All</a>
      {% endif %}
      </li>
        {% for item in  type_choices %}
              <li class="nav-item">
                {% if article_type_id == item.0  %}
                    <a class="nav-link active" href="/all/{{ item.0 }}.html">{{ item.1 }}</a>
                {% else %}
                    <a class="nav-link" href="/all/{{ item.0 }}.html">{{ item.1 }}</a>
                {% endif %}

              </li>

        {% endfor %}
    </ul>
    <ul class="nav navbar-nav ml-auto">
        {% if request.session.user_info %}
            <li class="nav-item">
                <a class="nav-link" href="/backend/index.html">{{ request.session.user_info.nickname }}</a>
            </li>
            {% if  request.session.user_info.blog__site %}
                <li class="nav-item">
                    <a  class="nav-link" href="/{{ request.session.user_info.blog__site }}.html">
                        My Blog
                    </a>

                </li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="/backend/index.html">Manage</a></li>
            <li class="nav-item" style="margin:auto"><a >|</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
             {% else %}
            <li class="nav-item"><a class="nav-link" href="/account/login.html">Login</a></li>
            <li class="nav-item" style="margin:auto">|</li>
            <li class="nav-item"><a class="nav-link" href="/register.html">Register</a></li>
        {% endif %}
    </ul>
  </div>
</nav>