<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/css/account.css"/>
    <link rel="stylesheet" href="/static/css/commons.css"/>
    <link rel="stylesheet" href="/static/css/row-avatar.css"/>

</head>
<body>
    <div class="login">
        <div style="text-align:center"><h1>User Login</h1></div>
                {{ data }}

    <form id="fm" method="post" action="/login.html" novalidate="True">
        {% csrf_token %}
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" autocomplete='email' class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="current-password" class="form-control" name="password" id="password" placeholder="Password">
      </div>
      <div class="form-group">
             <label for="check_code">Verification code</label>
             <div class="row">
                <div class="col-7">
                    <input type="text" class="form-control" name="check_code" id="check_code" placeholder="Code">
                </div>
                 <div class="col-5">
                     <img id="change-img" src="/account/check_code.html" >
                 </div>
             </div>
      </div>
          <div class="checkbox">
            <label>
                <input type="checkbox" value="1" name="month"> keep login for one month
            </label>

            <div class="right">
                <a href="#">Forget password?</a>
            </div>
        </div>

      <a id="submit" class="btn btn-primary">Submit</a>

    <div class="hide alert alert-danger my-2 ">
        <span><i style="font-size: 14px; display:inline-block; padding-right:5px;" class="fa fa-minus-circle" aria-hidden="true"></i></span>
        <span id="error_msg" >hello</span>
    </div>

    </form>
    </div>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>

    $(document).ready(function () {
        bindLogin()
        changeCode()
    })
    function changeCode() {
           $('body').on('click','#change-img',  function(){
                this.src = this.src+'?'
        })
    }

    function bindLogin() {


        $('#submit').click(function(){
            var $msg = $('#error_msg');
            $msg.parent().addClass('hide')
            $msg.empty(0)
            $.ajax({
                url:'/account/login.html',
                type:'POST',
                data:$('#fm').serialize(),
                dataType:'JSON',
                success:function(args){
                    console.log(args)
                    if(args.status==true){
                        location.href = '/'
                    }else{
                        $msg.parent().removeClass('hide');
                        $msg.text(args.message);
                        var img =  $('#change-img')[0]
                        console.log(img)
                        img.src = img.src+'?';
                        $('#password, #check_code').val('');

                    }
                },
            });


        });

    }

</script>
</body>
</html>