{% extends 'site-layout.html' %}

{% block content %}

            <div class="article-list">
                {% for row in article_list %}
                    <div class="article-item clearfix">
                        <h3><a href="/{{ row.blog.site }}/{{ row.nid }}.html">{{ row.title }}</a></h3>
                        <div class="clearfix ">
                            {{ row.summary }}
                        </div>
                        <div class="footers">
                            <a href="/{{ blog.site }}.html">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                                <span>{{ row.blog.user.nickname }}</span>
                            </a>
                            <span>{{ row.create_time }}</span>
                            <a href="#" class="ele">
                                <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                <span>{{ row.comment_count }}</span>
                            </a>
                            <a href="#" class="ele">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                <span>{{ row.up_count }}</span>
                            </a>
                        </div>

                    </div>
                {% endfor %}

            </div>

            <div class="clearfix">

                <ul class="pagination">
                    {{ page_str }}
                </ul>

            </div>

{% endblock %}