<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/css/commons.css"/>
    <link rel="stylesheet" href="/static/css/row-avatar.css"/>
   <link rel="stylesheet" href="/static/css/theme/default.css"/>

</head>
<body>

<nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
  <a class="navbar-brand" href="#">{{ blog.title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
        {% if request.session.user_info %}
            <li class="nav-item">
                <a class="nav-link" href="/backend/index.html">{{ request.session.user_info.nickname }}</a>
            </li>
            {% if  request.session.user_info.blog__site %}
                <li class="nav-item">
                    <a  class="nav-link" href="/{{ request.session.user_info.blog__site }}.html">
                        Me
                    </a>

                </li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="/backend/index.html">Manage</a></li>
            <li class="nav-item" style="margin:auto"><a >|</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
             {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
            <li class="nav-item" style="margin:auto">|</li>
            <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
        {% endif %}
    </ul>
  </div>
</nav>

<section class="container my-content">
    <section class="row ">
        <aside class="col-md-3 body-menu">
                <header class="notice">
                    <section class="center"><img class="round" src="/static/img/hachiko1.jpg"></section>
                    <section class="center">
                        <span class="li-item">{{ blog.user.nickname }}</span>
                        <span class="li-item">Followed: {{ blog.user.fans.count }}</span>
                        <span class="li-item">Following: {{ blog.user.f.count }}</span>
                    </section>
                    <section class="motto">
                        When you are able to love yourself deeply, you can be kind to others.
                    </section>
                </header>
                <section class="tags">
                    <header class="tags-header">Tag</header>
                    <nav class="tags-body">
                        <ul>
                            {% for tag in tag_list %}
                                <li><a href="/{{ blog.site }}/tag/{{ tag.nid }}.html">{{ tag.title }}({{ tag.article_set.count }})</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </section>
                <section class="types">
                    <header class="types-header">Category</header>
                    <nav class="types-body">
                        <ul>
                            {% for tag in category_list %}
                                <li><a href="/{{ blog.site }}/category/{{ tag.nid }}.html">{{ tag.title }}({{ tag.article_set.count }})</a></li>
                            {% endfor %}
                        </ul>

                    </nav>
                </section>
                <section class="dates">
                    <header class="dates-header">Timeline</header>
                    <nav class="dates-body">
                        <ul>
                            {% for tag in date_list %}
                                <li><a href="/{{ blog.site }}/date/{{ tag.ctime }}.html">{{ tag.ctime}}({{ tag.num}})</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </section>
        </aside>
        <main class="col-md-9">
            {% block content %}
            {% endblock %}
        </main>
    </section>
</section>


</body>
<script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
{% block js %}{% endblock %}
</html>